.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  padding: var(--space-0, 0px);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-800, 32px);
  border-radius: var(--radius-400, 16px);
  background: var(--background-gray-default, #fff);
  /* card shadow/L */
  box-shadow: 0px 184px 51px 0px rgba(52, 46, 72, 0),
    0px 118px 47px 0px rgba(52, 46, 72, 0.01),
    0px 66px 40px 0px rgba(52, 46, 72, 0.05),
    0px 29px 29px 0px rgba(52, 46, 72, 0.09),
    0px 7px 16px 0px rgba(52, 46, 72, 0.1);
}

.wrapper:focus-visible {
  outline: none;
}

/* Responsive Widths */
@media (max-width: 600px) {
  /* xs breakpoint */
  .wrapper {
    width: 95%;
    max-width: 560px;
  }
}

@media (min-width: 600px) and (max-width: 960px) {
  /* sm breakpoint */
  .wrapper {
    width: 95%;
    max-width: 560px;
  }
}

@media (min-width: 960px) and (max-width: 1280px) {
  /* md breakpoint */
  .wrapper {
    width: 90%;
    max-width: 560px;
  }
}

@media (min-width: 1280px) {
  /* lg breakpoint */
  .wrapper {
    width: 80%;
    max-width: 560px;
  }
}

.header {
  display: flex;
  align-self: stretch;
  justify-content: space-between;
  padding: var(--space-300, 12px) var(--space-600, 24px);
  align-items: center;
  gap: var(--space-300, 12px);
  border-radius: var(--radius-400, 16px) var(--radius-400, 16px) 0px 0px;
  border-bottom: var(--stroke-border, 1px) solid
    var(--border-default-tertiary, #e7e7e7);
  background: var(--background-gray-secondary, #fafafa);
}

.content {
  display: flex;
  padding: var(--space-0, 0px) var(--space-600, 24px);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-200, 8px);
  align-self: stretch;

  /* background: var(--Gray-0, #fff); */

  /* .textWrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    background-color: transparent;
  } */
}

.editContent {
  display: flex;
  padding: var(--space-0, 0px) var(--space-600, 24px);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-200, 8px);
  align-self: stretch;
}
.form {
  width: 100%;
  gap: 24px;
  display: flex;
  flex-direction: column;
}
.footer {
  display: flex;
  align-self: stretch;
  padding: var(--space-300, 12px) var(--space-600, 24px);
  justify-content: flex-end;
  align-items: flex-start;
  gap: var(--space-400, 16px);
  border-top: var(--stroke-border, 1px) solid
    var(--border-default-tertiary, #e7e7e7);
  .buttonWrapper {
    display: flex;
    align-items: flex-start;
    gap: var(--space-400, 16px);
  }
}
