.container {
  position: fixed;
  display: flex;
  width: 100vw; /* corrected from '100wh' to '100vw' */
  height: 100vh;
  align-items: center;
  justify-content: center;
  inset: 0px;
  top: 0;
  left: 0;

  transition: all 0.5s ease-in-out;
  background: var(--white-with-opacity-500, rgba(255, 255, 255, 0.65));
  z-index: 1311;
}
.loader {
  display: inline-block;
  width: 80px;
  height: 80px;
  border: 6px solid rgba(0, 0, 0, 0.1); /* Light grey border */
  border-radius: 50%; /* Make it circular */
  border-top-color: var(
    --Primary-600,
    #d8edff
  ); /* Blue color for the active part of the loader */
  animation: spin 2s linear infinite; /* Animation applied here */
}

@keyframes spin {
  0% {
    transform: rotate(0deg); /* Start rotation from 0 degrees */
  }
  100% {
    transform: rotate(360deg); /* End rotation at 360 degrees */
  }
}
