.button {
  cursor: pointer;
  text-transform: none;
  height: 40px; /* Default height */
  display: inline-flex;
  height: 40px;

  padding: var(--space-250, 10px) var(--space-400, 16px);
  justify-content: center;
  align-items: center;
  gap: var(--space-200, 8px);
  flex-shrink: 0;
  border-radius: var(--radius-200, 8px);
  outline: 0;
  transition: border-color 0.25s, background-color 0.25s;
}

.button:focus,
.button:focus-visible {
  outline: 0 !important;
}
button:focus,
button:focus-visible {
  outline: 0 !important;
}
button:disabled {
  background: var(--background-gray-default-disabled, #fafafa);
  cursor: not-allowed;
}

/* Primary Button */
.primaryButton {
  border: none;
  color: var(--text-primary-on-primary, #fff);
  background: var(--background-primary-default, #145ba6);
}
.primaryButton[data-size="small"] {
  height: 32px;
  padding: var(--space-200, 8px) var(--space-300, 12px);
}

.primaryButton:hover {
  background: var(--background-primary-default-hover, #75649d);
}

.primaryButton:disabled {
  color: var(--text-gray-default-disabled, #888);
}

.primaryButton:active {
  background: var(--background-primary-default-pressed, #625483);
}
.dengerButtonWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: var(--space-300, 12px);
  align-self: stretch;
}

/* danger button */
.dangerButton {
  border: none;
  color: var(--text-primary-on-primary, #fff);
  background: var(--background-error-default, #a40e26);
}
.dangerButton[data-size="small"] {
  height: 32px;
  padding: var(--space-200, 8px) var(--space-300, 12px);
}

.dangerButton:disabled {
  color: var(--text-error-disabled, #ff8182);
}

.dangerButton:not(:disabled):hover {
  background: var(--background-error-default-hovered, #660018);
}
.dangerButton:not(:disabled):active {
  background: var(--background-error-default-pressed, #82071e);
  transform: scale(0.98); /* Example: adding a slight scale effect */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Example: adding a shadow effect */
}

.dangerButton[data-outlined="true"] {
  border: var(--stroke-border, 1px) solid var(--border-gray-default, #e3e3e3);
  background: var(--background-gray-default, #fff);
  color: var(--text-error-default, #cf222e);
}

.dangerButton[data-outlined="true"]:disabled {
  border: none;
  color: var(--text-error-disabled, #ff8182);
  background: var(--background-gray-default-disabled, #fafafa);
}

.dangerButton[data-outlined="true"]:hover {
  border: var(--stroke-border, 1px) solid var(--border-error-default, #82071e);
  background: var(--background-gray-default, #fff);
}
.dangerButton[data-outlined="true"]:active {
  border: var(--stroke-border, 1px) solid var(--border-error-default, #82071e);
  background: var(--background-error-secondary, #fef2f0);
  transform: scale(0.98);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Secondary Button */
.secondaryButton {
  border: 1px solid var(--border-gray-default, #e3e3e3);
  background: var(--background-gray-default, #fff);
  color: var(--text-gray-default, #191919);
}
.secondaryButton[data-size="small"] {
  height: 32px;
  padding: var(--space-200, 8px) var(--space-300, 12px);
}

.secondaryButton:disabled {
  color: var(--text-gray-default-disabled, #b0b0b0);
  border: 1px solid var(--border-gray-default-disabled, #e3e3e3);
}

.secondaryButton:not(:disabled):hover {
  border: 1px solid var(--border-gray-secondary, #888);
}

.secondaryButton:not(:disabled):active {
  border: 1px solid var(--border-gray-tertiary, #3d3d3d);
}

/* tertiary Button */
.tertiaryButton {
  height: 30px; /* Default height */
  display: inline-flex;
  padding: var(--space-150, 6px) var(--space-100, 4px);
  justify-content: center;
  align-items: center;
  gap: var(--space-200, 8px);
  color: var(--text-primary-default, #52466c);
  border-radius: 0% !important;
  border: none;
  background-color: transparent;
}

.tertiaryButton:not(:disabled):hover {
  border-bottom: var(--stroke-border, 1px) solid
    var(--border-primary-tertiary, #352d48);
  background-color: transparent;
}

.tertiaryButton:disabled {
  color: var(--text-gray-default-disabled, #888);
  cursor: not-allowed;
}

/* cheaps button */
.cheapsButton {
  display: inline-flex;
  height: 32px;

  min-width: 32px;

  padding: var(--space-200, 8px);
  justify-content: center;
  align-items: center;
  gap: var(--space-200, 8px);
  border-radius: var(--radius-full, 9999px);
  background: var(--background-gray-secondary, #fafafa);
  color: var(--text-gray-secondary, #6d6d6d);
  border: none;

  cursor: pointer;
}

.cheapsButton:not(:disabled):hover {
  color: var(--text-primary-default, #52466c);
  background: var(--background-primary-secondary-hover, #d0cee4);
}

.cheapsButton:not(:disabled):active {
  color: var(--text-primary-default, #52466c);
  background: var(--background-primary-secondary-pressed, #ecebf4);
}

.cheapsButton[data-chosen="true"] {
  color: var(--text-primary-default, #52466c);
  background: var(--background-primary-tertiary, #e5e4f0);
}
