.colorSystemError {
  color: var(--text-error-default, #cf222e);
}
.text-default {
  color: var(--text-gray-default);
}
.text-secondary {
  color: var(--text-gray-secondary);
}
.text-default-disabled {
  color: var(--text-gray-default-disabled);
}
