/* icon Button */
.iconButton {
  cursor: pointer;
  text-transform: none;
  outline: 0;
  transition: border-color 0.25s, background-color 0.25s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-200, 8px);
}

.iconButton:focus,
.iconButton:focus-visible {
  outline: 0 !important;
}
.iconButton:focus,
.iconButton:focus-visible {
  outline: 0 !important;
}

.primaryIconButton {
  height: 40px;
  width: 40px;
  border: none;
  color: var(--icons-default-default);
  background: var(--background-primary-tertiary, #e5e4f0);
}
.primaryIconButton[data-size="small"] {
  height: 32px;
  width: 32px;
}
.primaryIconButton:hover {
  background: var(--background-primary-tertiary-hover, #b7b1d4);
}
.primaryIconButton:disabled {
  background: var(--background-gray-default-disabled, #f6f6f6);
  color: var(--icons-default-default-disabled);
  cursor: not-allowed;
}

.primaryIconButton:active {
  background: var(--background-primary-tertiary-pressed, #d0cee4);
}

.secondatyIconButton {
  height: 40px;
  width: 40px;
  color: var(--icons-gray-default);
  border-radius: var(--radius-200, 8px);
  border: 1px solid var(--border-gray-default, #e3e3e3);
  background-color: transparent;
}
.secondatyIconButton[data-size="small"] {
  height: 32px;
  width: 32px;
}
.secondatyIconButton:hover {
  border: 1px solid var(--border-gray-secondary, #888);
}
.secondatyIconButton:disabled {
  border: 1px solid var(--border-gray-default-disabled, #e3e3e3);
  color: var(--icons-gray-default-disabled);
  cursor: not-allowed;
}

.secondatyIconButton:active {
  border: 1px solid var(--border-gray-tertiary, #3d3d3d);
}

.tertiaryIconButton {
  height: 24px;
  width: 24px;
  border: none;
  border-radius: var(--radius-200, 8px);
  color: var(--icons-primary-secondary);
  background: var(--background-gray-default, #fff);
}
.tertiaryIconButton:disabled {
  color: var(--icons-gray-default-disabled);
  cursor: not-allowed;
}

.tertiaryIconButton:hover {
  color: var(--icons-primary-default);
  background: var(--background-primary-secondary-hover, #d0cee4);
}

.tertiaryIconButton:active {
  color: var(--icons-primary-default);
  background: var(--background-primary-secondary-pressed, #ecebf4);
}

.buttonForTopNav {
  display: inline-flex;
  padding: var(--space-200, 8px);
  align-items: center;
  border-radius: var(--radius-200, 8px);
  border: 1px solid var(--border-gray-default, rgba(255, 255, 255, 0.2));
  background: var(--background-primary-tertiary, rgba(255, 255, 255, 0.1));
  color: var(--text-primary-default, #f2f8ff);
  cursor: pointer;
}
.buttonForTopNav:hover {
  color: var(--text-gray-default, rgba(255, 255, 255, 0.9));
  border: 1px solid var(--border-gray-default, rgba(255, 255, 255, 0.2));
  background: var(
    --background-primary-tertiary-hover,
    rgba(255, 255, 255, 0.45)
  );
}
.buttonForTopNav:active {
  border: 1px solid var(--border-gray-default, rgba(255, 255, 255, 0.2));
  background: var(
    --background-primary-tertiary-pressed,
    rgba(255, 255, 255, 0.3)
  );
}
