/* inputs  */

.input-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-150, 6px);
  align-self: stretch;
}

.input-container .labelWrapper {
  display: flex;
  align-items: center;
  gap: var(--space-050, 2px);
  align-self: stretch;
}

.labelWrapper .inputLabel {
  color: var(--text-gray-secondary, #6d6d6d);
  /* Body/S/Medium */
  font-family: var(--body-font-family, Inter);
  font-size: var(--body-sizeS, 12px);
  font-style: normal;
  font-weight: var(--body-font-weight-strong, 500);
  line-height: 115%; /* 13.8px */
}
.inputLabel.error {
  color: var(--text-error-default, #cf222e);
}
.input-container .inputBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
}
.iconInput {
  color: var(--icons-default-secondary, #6d6d6d);
}
.iconInputDisabled {
  color: var(--icons-default-default-disabled, #6d6d6d);
}
input,
textarea {
  width: 100%;
  display: flex;
  padding: var(--space-200, 8px);
  align-items: center;
  gap: var(--space-100, 4px);
  align-self: stretch;
  cursor: text;
  text-transform: none;
  outline: 0;
  justify-content: space-between;
  max-height: 40px;
  height: 40px;
  color: var(--text-gray-default, #262626);
  /* Body/M/Regular */
  font-family: var(--body-font-family, Inter);
  font-size: var(--body-sizeM, 14px);
  font-style: normal;
  font-weight: var(--body-font-weight-regular, 400);
  line-height: 115%; /* 16.1px */

  border-radius: var(--radius-200, 8px);

  border: var(--stroke-border, 1px) solid
    var(--border-default-secondary, #dcdcdc);
  background: var(--background-gray-secondary, #f8f7fb);
}

textarea::placeholder,
input::placeholder {
  color: var(--text-gray-secondary, #6d6d6d);
  /* Body/M/Regular */
  font-family: var(--body-font-family, Inter);
  font-size: var(--body-sizeM, 14px);
  font-style: normal;
  font-weight: var(--body-font-weight-regular, 400);
  line-height: 115%; /* 16.1px */
}
textarea {
  height: 64px;
  resize: none;
}

input[type="date"] {
  display: block;
}

input[data-size="small"] {
  max-height: 32px;
  height: 32px;
}

input:hover,
textarea:hover {
  border: var(--stroke-border, 1px) solid
    var(--border-primary-default-hovered, #75649d);
}
input:focus,
textarea:focus {
  border: var(--stroke-border, 1px) solid
    var(--border-primary-default-pressed, #625483);
  background: var(--background-gray-secondary, #fafafa);
}
input:focus .inputLabel,
textarea:focus .inputLabel {
  color: var(--text-primary-default, #093b71);
}
input:focus .helper-text,
textarea:focus .helper-text {
  color: var(--text-primary-default, #52466c);
}
input[data-error="true"],
textarea[data-error="true"] {
  border-radius: var(--radius-200, 8px);
  border: var(--stroke-border, 1px) solid var(--border-error-default, #82071e);
  background: var(--background-error-secondary, #fef2f0);
}

input:disabled,
textarea:disabled {
  border-radius: var(--radius-200, 8px);
  border: var(--stroke-border, 1px) solid var(--border-gray-default, #e3e3e3);
  background: var(--background-gray-default-disabled, #fafafa);
  cursor: not-allowed;
  color: var(--text-gray-default-disabled, #888);
}

input:disabled .helper-text,
textarea:disabled .helper-text {
  color: var(--text-gray-default-disabled, #888);
}

input:disabled::placeholder,
textarea:disabled::placeholder {
  color: var(--text-gray-default-disabled, #888);
}

.helper-text {
  color: var(--text-gray-secondary, #6d6d6d);
  /* Body/S/Medium */
  font-family: var(--body-font-family, Inter);
  font-size: var(--body-sizeS, 12px);
  font-style: normal;
  font-weight: var(--body-font-weight-strong, 500);
  line-height: 115%; /* 13.8px */
}
.error-text {
  color: var(--text-error-default, #cf222e);
  /* Body/S/Medium */
  font-family: var(--body-font-family, Inter);
  font-size: var(--body-sizeS, 12px);
  font-style: normal;
  font-weight: var(--body-font-weight-strong, 500);
  line-height: 115%; /* 13.8px */
}
