/* menu paper */
.menuPaper {
  margin-top: 2px;

  display: flex;

  flex-direction: column;
  align-items: flex-start;

  align-self: stretch;
  border-radius: var(--radius-200, 8px);
  border: var(--stroke-border, 1px) solid var(--border-gray-default, #e3e3e3);
  background: var(--background-gray-secondary, #fafafa) !important;
  /* card shadow/S */
  box-shadow: 0px 2px 8px 0px rgba(171, 166, 194, 0.3);
}
.menuPaper ul {
  padding: var(--space-100, 4px);
  gap: var(--space-050, 2px);
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* gap: 4px; */
  align-self: stretch;
  background: var(--background-gray-secondary, #fafafa) !important;
}

/* menu item */
.menuItem {
  padding: var(--space-200, 8px) !important;

  gap: var(--space-200, 8px);

  display: flex !important;
  height: 32px;
  /* padding: 4px 8px !important; */
  align-items: center !important;

  flex-shrink: 0;
  align-self: stretch;
  border-radius: var(--radius-100, 4px);
  background: var(--background-gray-default-disabled, #fafafa) !important;
  width: 100%;
  border-radius: var(--radius-100, 4px) !important;
  /* Hover state */
}
.menuItem:hover {
  background: var(--background-primary-tertiary, #e5e4f0) !important;
}
.menuItem.Mui-selected {
  background: var(--background-primary-tertiary, #e5e4f0) !important;
}
.menuItemText {
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
  white-space: "nowrap";
}
