.input-container-radio {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-300, 12px);
  align-self: stretch;
}
.input-radio-wrapper {
  display: flex;
  align-items: flex-start;
  gap: var(--space-600, 24px);
  color: var(--text-gray-default, #262626);
}
.input-radio-label {
  display: flex;
  align-items: center;

  gap: var(--space-200, 8px);
  height: 20px;
  cursor: pointer;
}
.input-radio-label.disabled {
  color: var(--text-gray-default-disabled, #989898);
  cursor: not-allowed;
}
.input-radio-icon {
  color: var(--border-primary-tertiary);
}
.input-radio-label.disabled > .input-radio-icon {
  color: var(--border-default-default-disabled, #989898);
}
.input-radio-label.active {
  cursor: default;
}

/* Hide the default radio button */
input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;

  border: 2px solid var(--border-default-secondary);
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  position: relative;
  transition: background-color 0.2s, border-color 0.2s;
  background-color: var(--background-gray-default);
}

/* Style the radio button when hovered */
input[type="radio"]:not(:disabled):hover {
  border: 2px solid var(--border-primary-tertiary);
}

/* Style the radio button when checked */
input[type="radio"]:checked {
  background-color: var(--border-primary-tertiary);
  border-color: var(--border-primary-tertiary);
}

input[type="radio"]:checked::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Style the radio button when disabled */
input[type="radio"]:disabled {
  background-color: var(--background-gray-default);
  border-color: var(--border-default-default-disabled);
  cursor: not-allowed;
}

input[type="radio"]:disabled::before {
  background: var(--background-gray-default);
}
