.custom_select {
  max-height: 40px;
  width: 100%;
  outline: none;
  border-radius: var(--radius-200, 8px) !important;
  border: var(--stroke-border, 1px) solid var(--border-gray-default, #e3e3e3) !important;
  background: var(--background-gray-secondary, #fafafa) !important;
  color: var(--text-gray-default, #292929) !important;
  outline: 0 !important;
  text-transform: none;
}
.custom_select fieldset {
  border: none;
}
.custom_select.disabled {
  background: var(--background-gray-default-disabled, #fafafa) !important;
}
.custom_select[data-disabled="true"] {
  background: var(--background-gray-default-disabled, #fafafa) !important;
}

.custom_select:not(.disabled):hover {
  border: var(--stroke-border, 1px) solid
    var(--border-primary-default-hovered, #75649d) !important;
}

.custom_select[data-error="true"] {
  border: var(--stroke-border, 1px) solid var(--border-error-default, #82071e) !important;
  background: var(--background-error-secondary, #fef2f0) !important;
}

.custom_select[data-anchor="true"] {
  border: var(--stroke-border, 1px) solid
    var(--border-primary-default-pressed, #625483) !important;
}
.custom_select .MuiInputBase-input {
  padding: var(--space-300, 12px) var(--space-200, 8px) var(--space-300, 12px)
    var(--space-300, 12px);
}

/* .custom_select [id="mui-component-select-destination"] {
  padding: 0px !important;
}
.custom_select #mui-component-select-valueType {
  padding: 0px !important;
}

.custom_select {
  max-height: 40px;
  padding: var(--space-300, 12px) var(--space-200, 8px) var(--space-300, 12px)
    var(--space-300, 12px);

  text-transform: none;
  color: var(--text-gray-default, #292929) !important;
  outline: 0 !important;
  width: 100%;
  outline: none;

  border-radius: var(--radius-200, 8px);
  border: var(--stroke-border, 1px) solid var(--border-gray-default, #e3e3e3) !important;
  background: var(--background-gray-secondary, #fafafa) !important;
}
.custom_select [id="mui-component-select-valueType"] {
  padding: 0px !important;
}
.custom_select {
  .MuiSelect-select.MuiSelect-outlined.MuiInputBase-input.MuiOutlinedInput-input {
    padding: 0px !important;
  }
}

.custom_select [id="mui-component-select-type"] {
  padding: 0px !important;
}
.custom_select [id="mui-component-select-destination"] {
  padding: 0px !important;
}
.custom_select #mui-component-select-valueType {
  padding: 0px !important;
} */

/* 
.menu-select-value {
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: stretch;


}

.custom_select.disabled {
  background: var(--background-gray-default-disabled, #fafafa) !important;
}
.custom_select[data-disabled="true"] {
  background: var(--background-gray-default-disabled, #fafafa) !important;
}

.custom_select:not(.disabled):hover {
  border: var(--stroke-border, 1px) solid
    var(--border-primary-default-hovered, #75649d) !important;
}

.custom_select[data-error="true"] {
  border: var(--stroke-border, 1px) solid var(--border-error-default, #82071e) !important;
  background: var(--background-error-secondary, #fef2f0) !important;
}

.custom_select[data-anchor="true"] {
  border: var(--stroke-border, 1px) solid
    var(--border-primary-default-pressed, #625483) !important;
}

.custom_select fieldset {
  border: none;
} */
