.breadcrumbsContainer {
  display: flex;
  align-items: center;
  gap: var(--space-200, 8px);

  .breadcrumbsWrapper {
    display: inline-flex;
    height: 24px;
    max-width: 140px;
    padding: var(--space-100, 4px) var(--space-150, 6px);
    align-items: center;
    gap: var(--space-100, 4px);
    border-radius: var(--radius-100, 4px);
    border: var(--stroke-border, 1px) solid var(--border-gray-default, #e3e3e3);
    background: var(--background-gray-secondary, #fafafa);

    color: var(--text-gray-default, #191919);
    cursor: pointer;
    position: relative;
  }
  .linkWrap {
    display: inline-flex;
    align-items: center;
    gap: var(--space-100, 4px);
  }
  .breadcrumbsWrapper.active {
    color: var(--text-gray-default, #262626);
    border-radius: var(--radius-100, 4px);
    border: none;
    background: var(--background-primary-tertiary, #e5e4f0);
    cursor: default;
  }

  .breadcrumbsWrapper:not(.active):hover {
    border-radius: var(--radius-100, 4px);
    border-top: var(--stroke-border, 1px) solid
      var(--border-gray-secondary, #888);
    border-right: var(--stroke-border, 1px) solid
      var(--border-gray-secondary, #888);
    border-bottom: var(--stroke-border, 1px) solid
      var(--border-gray-secondary, #888);
    border-left: var(--stroke-border, 1px) solid
      var(--border-gray-secondary, #888);
    background: var(--background-gray-secondary, #fafafa);
  }
  .breadcrumbsWrapper:not(.active):focus {
    border-radius: var(--radius-100, 4px);
    border-top: var(--stroke-border, 1px) solid
      var(--border-gray-tertiary, #3d3d3d);
    border-right: var(--stroke-border, 1px) solid
      var(--border-gray-tertiary, #3d3d3d);
    border-bottom: var(--stroke-border, 1px) solid
      var(--border-gray-tertiary, #3d3d3d);
    border-left: var(--stroke-border, 1px) solid
      var(--border-gray-tertiary, #3d3d3d);
    background: var(--background-gray-secondary, #fafafa);
  }
  .breadcrumbsWrapper:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }

  .tooltip {
    visibility: hidden;
    opacity: 0;

    text-align: center;

    position: absolute;
    z-index: 1;
    bottom: -25px; /* Положение подсказки */
    left: 0px;
    /* transform: translateX(-50%); */
    white-space: nowrap;
    transition: opacity 0.2s;

    display: flex;
    height: 24px;
    max-width: 280px;
    padding: var(--space-100, 4px) var(--space-200, 8px);
    align-items: center;
    gap: var(--space-200, 8px);
    border-radius: var(--radius-100, 4px);
    border: var(--stroke-border, 1px) solid
      var(--border-default-tertiary, rgba(255, 255, 255, 0.2));
    background: var(--background-gray-default, #fff);
    /* card shadow/S */
    box-shadow: 0px 2px 8px 0px rgba(171, 166, 194, 0.3);
    color: var(--text-gray-default, #262626);
  }
  .navIcon {
    display: flex;
    width: var(--icon-xxsmall, 12px);
    height: var(--icon-xxsmall, 12px);
    justify-content: center;
    align-items: center;
  }

  .divider {
    color: var(--text-primary-secondary, #8777b0);
  }
}

.dark {
  .breadcrumbsContainer {
    .breadcrumbsWrapper {
      color: var(--text-gray-default, rgba(255, 255, 255, 0.9));

      border: var(--stroke-border, 1px) solid
        var(--border-gray-default, rgba(255, 255, 255, 0.2));
      background: var(--background-gray-secondary, rgba(25, 25, 25, 0.2));
    }

    .breadcrumbsWrapper.active {
      color: var(--text-primary-on-primary, #191919);
      background: var(--background-primary-default, #c4dcf2);
    }

    .breadcrumbsWrapper:not(.active):hover {
      color: var(--text-gray-default, rgba(255, 255, 255, 0.9));
      border-top: var(--stroke-border, 1px) solid
        var(--border-gray-secondary, rgba(255, 255, 255, 0.65));
      border-right: var(--stroke-border, 1px) solid
        var(--border-gray-secondary, rgba(255, 255, 255, 0.65));
      border-bottom: var(--stroke-border, 1px) solid
        var(--border-gray-secondary, rgba(255, 255, 255, 0.65));
      border-left: var(--stroke-border, 1px) solid
        var(--border-gray-secondary, rgba(255, 255, 255, 0.65));
      background: var(
        --background-gray-secondary-hover,
        rgba(255, 255, 255, 0.1)
      );
    }
    .breadcrumbsWrapper:not(.active):active {
      color: var(--text-gray-default, rgba(255, 255, 255, 0.9));
      border-top: var(--stroke-border, 1px) solid
        var(--border-gray-tertiary, rgba(255, 255, 255, 0.9));
      border-right: var(--stroke-border, 1px) solid
        var(--border-gray-tertiary, rgba(255, 255, 255, 0.9));
      border-bottom: var(--stroke-border, 1px) solid
        var(--border-gray-tertiary, rgba(255, 255, 255, 0.9));
      border-left: var(--stroke-border, 1px) solid
        var(--border-gray-tertiary, rgba(255, 255, 255, 0.9));
      background: var(
        --background-gray-secondary-pressed,
        rgba(255, 255, 255, 0.2)
      );
    }

    .divider {
      color: var(--text-gray-default-disabled, rgba(255, 255, 255, 0.2));
    }
  }
}
