.mainContainer {
  display: flex;
  flex-direction: column;
  padding-bottom: var(--space-600, 24px);

  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  /* color: var(--text-primary-default);
  background-color: var(--background-gray-default); */
  overflow: auto;
  background: var(--background-gray-secondary);
}

input,
textarea {
  background: var(--background-gray-default, #fff);
}
